<!DOCTYPE html>
<html lang="ja">
<head>
    <th:block th:replace="fragments/head"></th:block>
    <title>Create | BRIDGEDU</title>
</head>
<body>
    <th:block th:replace="fragments/nav :: nav"></th:block>
    
    <div class="container">
        <h1 class="my-3 ml-3">マイルストーン作成</h1>

        <form th:action="@{/{username}/creation(username=${username})}" th:object="${milestoneForm}" method="post" class="needs-validation" novalidate>
            <div class="form-group">
                <label for="milestone-title" class="form-label">タイトル</label>
                <input id="milestone-title" type="text" th:field="*{title}" class="form-control" required>
                <div class="invalid-feedback">
                    不正な入力値です
                </div>
            </div>
            <div class="form-group has-error">
                <label for="milestone-memo" class="form-label">詳細</label>
                <textarea id="milestone-memo" cols="30" rows="10" th:field="*{memo}" class="form-control" required></textarea>
                <div class="invalid-feedback">
                    不正な入力値です
                </div>
            </div>
            <div class="form-group has-error">
                <label for="milestone-importance" class="form-label">重要度</label>
                <input id="milestone-importance" type="number" min="1" max="5" th:field="*{importance}" class="form-control" >
                <div class="invalid-feedback">
                    1以上5以下で設定する必要があります
                </div>
            </div>
            <div class="form-group has-error">
                <label for="milestone-achievement" class="form-label">達成率</label>
                <input id="milestone-achievement" type="number" min="0" max="100" th:field="*{achievement}" class="form-control">
                <div class="invalid-feedback">
                    0以上100以下で設定する必要があります
                </div>
            </div>
            <div class="form-group has-error">
                <label for="milestone-goal" class="form-label">目標</label>
                <input id="milestone-goal" type="date" th:field="*{goal}" class="form-control" required/>
                <div class="invalid-feedback">
                    不正な入力値です
                </div>
            </div>
            <div>
                <input type="submit" value="Create" class="btn btn-primary">
            </div>
        </form>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script>
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });

        (function () {
        'use strict'
        var forms = document.querySelectorAll('.needs-validation')

        Array.prototype.slice.call(forms)
            .forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
            })
        })()
    </script>
</body>
</html>