<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Details | BRIDGE</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/}">BRIDGEDU</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a th:if="${#request.isUserInRole('ROLE_TEACHER')}" class="nav-link" th:href="@{/students}" >生徒一覧</a>
                </li>
                <li class="nav-item">
                    <a th:if="${#request.isUserInRole('ROLE_TEACHER')}" class="nav-link" th:href="@{/students/creation}">生徒作成</a>
                </li>
                <li class="nav-item">
                    <a th:if="${#request.isUserInRole('ROLE_STUDENT')}" class="nav-link" th:href="@{/{username}(username=${username})}">マイルストーン</a>
                </li>
                <li class="nav-item">
                    <a th:if="${#request.isUserInRole('ROLE_STUDENT')}" class="nav-link" th:href="@{/{username}/creation(username=${username})}">マイルストーン作成</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">ログアウト</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="my-3 ml-3" th:text="${milestone.title}"></h1>
            <div>
                <a th:href="@{/{username}/{id}/edit(username=${username}, id=${milestone.id})}">
                    <button class="btn btn-success">編集</button>
                </a>
                <a th:href="@{/{username}/{id}/creation(username=${username}, id=${milestone.id})}">
                    <button class="btn btn-primary">タスク作成</button>
                </a>
                <form th:action="@{/{username}/{milestoneId}/deletion(username=${username}, milestoneId=${milestone.id})}" method="post" novalidate>
                    <button type="submit" class="btn btn-danger">削除</button>
                </form>
            </div>
        </div>
        
        <table class="table">
            <thead>
                <tr>
                    <td><span>ゴール</span></td>
                    <td><span>重要度</span></td>
                    <td><span>達成率</span></td>
                    <td><span>作成日</span></td>
                    <td><span>最終更新日</span></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span th:text="${milestone.goal}"></span>
                    </td>
                    <td>
                        <span th:each="i : ${#numbers.sequence(0,4)}" th:text="${i < milestone.importance?'★':'☆'}"></span>
                    </td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" th:style="'width: ' + ${milestone.achievement} + '%'" th:aria-valuenow="${milestone.achievement}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td>
                    <td>
                        <span th:text="${milestone.created}"></span>
                    </td>
                    <td>
                        <span th:text="${milestone.modified}"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="container">
            <h3 class="my-3 ml-3">詳細</h3>
            <p class="text-break" th:text="${milestone.memo}"></p>
        </div>
        <div class="container">
            <h3 class="my-3 ml-3">タスク一覧</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>名前</th>
                        <th>重要度</th>
                        <th>達成率</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="task : ${milestone.tasks}" th:if="${task.enabled}">
                        <td class="col-7" th:style="'background-color: ' + ${task.tag.color}">
                            <span>➡&nbsp;</span>
                            <span th:text="${task.name}"></span>
                        </td>
                        <td class="col-2">
                            <span th:each="i : ${#numbers.sequence(0,4)}" th:text="${i < task.importance?'★':'☆'}"></span>
                        </td>
                        <td class="col-2">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" th:style="'width: ' + ${task.achievement} + '%'" th:aria-valuenow="${milestone.achievement}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </td>
                        <td class="col-1">
                            <a th:href="@{/{username}/{milestoneId}/{taskId}/edit(username=${username}, milestoneId=${milestone.id}, taskId=${task.id})}">
                                <button class="btn-sm btn-success">編集</button>
                            </a>
                            <form th:action="@{/{username}/{milestoneId}/{taskId}/deletion(username=${username}, milestoneId=${milestone.id}, taskId=${task.id})}" method="post" novalidate>
                                <button class="btn-sm btn-danger">削除</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <form th:action="@{/{username}/{id}/comment/post(username=${username}, id=${milestone.id})}" th:object="${commentForm}" method="post" class="needs-validation" novalidate>
            <label for="input-comment" class="form-label">コメント</label>
            <textarea id="input-comment" cols="30" rows="2" th:field="*{body}" class="form-control" required></textarea>
            <button class="btn btn-primary">追加</button>
        </form>

        <div class="container">
            <h3 class="my-3 ml-3">コメント一覧</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>投稿者（投稿日）</th>
                        <th>本文</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="comment : ${milestone.comments}">
                        <th:block th:if="${comment.enabled}">
                            <td class="col-3">
                                <span th:text="${comment.user.displayName}+'（'+${comment.created}+'）'"></span>
                            </td>
                            <td class="col-8">
                                <th:block th:each="str, stat : ${comment.body.split('\r\n|\r|\n', -1)}">
                                    <th:block th:text="${str}"/>
                                    <br th:if="${!stat.last}"/>
                                </th:block>
                            </td>
                            <td class="col-1">
                                <form th:if="${#request.isUserInRole('ROLE_ADMIN') || #request.isUserInRole('ROLE_TEACHER') || #request.getRemoteUser() == comment.user.name}" th:action="@{/{username}/{mId}/comment/{cId}/deletion(username=${username}, mId=${comment.milestoneId}, cId=${comment.id})}" th:object="${commentForm}" method="post" class="needs-validation" novalidate>
                                    <button class="btn btn-danger">削除</button>
                                </form>
                            </td>
                        </th:block>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script>
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>
</body>
</html>