<!DOCTYPE html>
<html lang="ja">
<head>
    <th:block th:replace="fragments/head"></th:block>
    <title>Create Task | BRIDGEDU</title>
</head>
<body>
    <th:block th:replace="fragments/nav :: nav"></th:block>

    <div class="container">
        <h1 class="my-3 ml-3">タスク作成</h1>

        <form th:action="@{/{username}/{id}/creation(username=${username}, id=${milestoneId})}" th:object="${taskForm}" method="post">
            <div class="form-group">
                <label for="task-name" class="form-label">名前</label>
                <input id="task-name" type="text" th:field="*{name}" class="form-control" required>
                <div class="invalid-feedback">
                    不正な入力値です
                </div>
            </div>
            <div class="form-group has-error">
                <label for="task-importance" class="form-label">重要度</label>
                <input id="task-importance" type="number" min="1" max="5" th:field="*{importance}" class="form-control" >
                <div class="invalid-feedback">
                    1以上5以下で設定する必要があります
                </div>
            </div>
            <div class="form-group has-error">
                <label for="task-achievement" class="form-label">達成率</label>
                <input id="task-achievement" type="number" min="0" max="100" th:field="*{achievement}" class="form-control">
                <div class="invalid-feedback">
                    0以上100以下で設定する必要があります
                </div>
            </div>
            <div class="form-group has-error">
                <label for="task-tag" class="form-label">タグ</label>
                <select id="task-tag" th:field="*{tagId}">
                    <option th:each="tag : ${tagList}" th:value="${tag.id}" th:text="${tag.name}" th:style="'background-color: ' + ${tag.color}"></option>
                </select>
            </div>
            <div>
                <input type="submit" value="Create" class="btn btn-primary">
            </div>
        </form>
    </div>
</body>
</html>